<ion-content [fullscreen]="true">
  <ion-card>В приложении присутствуют сервис воркеры, которые имитируют бэкенд. Так как настоящего бекенда нет, то
    после первой самой полной загрузки нужно перезагрузить страницу, что бы загруженный сервис воркер заменил собой бекенд.</ion-card>
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-accordion-group [multiple]="true" [value]="['containers', 'things']">
    <ion-accordion value="form">
      <ion-item slot="header" color="light">
        <ion-label>Create Entity</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content"><app-item-form></app-item-form></div>
    </ion-accordion>
    <ion-accordion value="containers">
      <ion-item slot="header" color="light">
        <ion-label>Containers</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content"><app-list [list]="containers"></app-list></div>
    </ion-accordion>
    <ion-accordion value="things">
      <ion-item slot="header" color="light">
        <ion-label>Things</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content"><app-list [list]="things"></app-list></div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
